<div class="container">
  <h1 class="text-center">My Favorites</h1>
  <p class="text-center">
    <a href="/">Back to Pokedex</a>
  </p>

  <% pokemon.forEach(p => { %>
  <div class="buttons">
    <h2><%= p.name %></h2>
    <a class="btn btn-primary" href="/pokemon/<%= p.id %>"
      >More Details</a
    >

    <form method="POST" action="/pokemon/<%= p.id %>?_method=DELETE">
      <input hidden type="text" id="id" value="<%= p.name %>" />
      <button class="btn btn-primary" type="submit">Delete Favorite</button>
    </form>
  </div>
  <% }); %>
</div>
